.menu {
  display: flex;
  list-style: none;
  gap: 10px;
}

.item-menu a,
.menu-empresa a {
  background-color: rgb(99, 102, 241);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
}

.menu-empresa a {
  background-color: #3b82f6;
}
